# This file is only used for supporting local `npm` commands, such as `npm view`

# DO NOT SPECIFY AUTHENTICATION CREDENTIALS IN THIS FILE.  It should only be used
# to configure behavior. Credentials go in your user `.npmrc` file

registry=https://onedrive.pkgs.visualstudio.com/_packaging/odsp-npm/npm/registry/
//onedrive.pkgs.visualstudio.com/_packaging/odsp-npm/npm/registry/:always-auth=true