element {
  --Black: black;
  --BlackReddishBackground: rgba(27, 26, 25, 0.75);
  --BlackReddishBackgroundHover: rgba(50, 49, 48, 0.75);
  --DarkTransparent: #000000CC;
  --DarkGray: #414141;
  --DimGray: #666666;
  --LightBlue: #E3ECFA;
  --LightGray: #C8C8C8;
  --Link: ProductBrandColor;
  --MedGray1: #BEBBB8;
  --MedGray2: #A19F9D;
  --OffGray: #D2D0CE;
  --White: white;
  --WhiteCurrent: rgba(255, 255, 255, 0.15);
  --WhiteHover: rgba(255, 255, 255, 0.30);
  --Gray200: #1B1A19;
  --Gray190: #201F1E;
  --Gray170: #292827;
  --Gray170WithOpacity: rgba(41, 40, 39, 0.8);
  --Gray130: #605E5C;
  --Gray150: #3B3A39;
  --Gray160: #323130;
  --Gray120: #797775;
  --Gray110: #8a8886;
  --Gray100: #979593;
  --Gray90: #A19F9D;
  --Gray80: #B3B0AD;
  --Gray70: #BFBFBF;
  --Gray60: #C8C6C4;
  --Gray50: #d2d0ce;
  --Gray40: #E1DFDD;
  --Gray30: #EDEBE9;
  --Gray20: #F3F2F1;
  --Green10: #498205;
  --Orange20: #CA5010;
  --Gray100Transparent: #97959380;
  --Orange30: #8E562E;
  --VeryDarkGray: #4a4a4a;
  --VeryLightGray: #EAEAEA;
  --EvenLighterGray: #F4F3F2;
  --EvenDarkerGray: #212121;
  --Disabled: #C2C2C2;
  --linkColorDarkBg: #D2D0CE;
  --linkColorDarkBgHover: #BEBBB8;
  --linkColorDarkBgActive: #A19F9D;
  --linkHoverColor: ProductPrimaryThemeColor;
  --slate: rgba(31, 26, 26, 0.85);
  --transparentBlack: rgba(0, 0, 0, 0.6);
  --transparent: rgba(255, 255, 255, 0);
  --LightGrayBackground: rgba(255, 255, 255, 0.5);
  --Background: ProductBackgroundColor;
  --Border: ProductBorderColor;
  --OverlayPanelBackground: rgba(37, 36, 35, 0.95);
  --OverlayPanelBackgroundOpaque: rgb(37, 36, 35);
  --DarkModeShimmerBase: rgb(50, 49, 48);
  --DarkModeShimmerWave: rgb(41, 40, 39);
  --DarkModeDisabledText: rgb(121, 119, 117);
  --LightModeDisabledText: rgb(161, 159, 157);
  --themeLight: #eda6c3;
  --themeDarkAlt: ProductThemeDarkAltColor;
  --BluePrimary: #0078D4;
  --BlueShade10: #106EBE;
  --BlueTint30: #DEECF9;
  --BlueTint100: #005A9E;
  --BlackOpaque: #252423;
  --Purple: #320022;
  --Gray160Hover: rgba(50, 49, 48, 0.8);
  --Gray150Active: rgba(59, 58, 57, 0.8);
  --GrayDisabled: #5C5C5C;
}

.initials{
    font-size:medium;
    padding-bottom:5px;
  }
  .dropbtn {
    background: none;
    color: rgb(63, 36, 36);
    padding: 16px;
    
    border: none;
    top:50%;
  }

  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
  }

  /* Dropup content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    min-width: 180px;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropup */
  .dropup-content button {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
    background: red;
  }

  /* Change color of dropup links on hover */
  .dropup-content a:hover {background-color: #ddd}

  /* Show the dropup menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }



  .volumeContainer {
    position: relative
  }


  .sliderContainerStyle {
    height: 0px;
    position: absolute;
    bottom: 100%;
    margin-bottom: 4px;
    background-color: var(--Gray160);
    padding: 14px, 8px, 14px;
    border-radius: 2px;
    box-shadow: none;
    opacity: 0;
    transition-property: height, opacity;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: linear, linear;
    overflow-y: hidden;
    pointer-events: none;
  }

  .rail {
    background-image: linear-gradient(
      to top,
      var(--White) 0% var(--oneplayer-volume-percent),
      var(--LightGrayBackground) var(--oneplayer-volume-percent) 100%
    )
  }

  .thumb {
    width: 12px;
    height: 12px;
    background-color: var(--White);
    box-shadow: none;
  }

  .thumb::before {
    border-color: var(--White);
  }

  .thumb:hover {
    width: 14px;
    height: 14px;
  }

  .input {
    cursor: 'pointer'
  }

  .buttonStyle {
    display: flex;
    border-radius: 0;
    color: var(--White);
    background-color: var(--Gray160);
  }

  .buttonStyle:hover {
    color: var(--White);
    background-color: var(--Gray160Hover);
    border-radius: 2px;
  }

  .buttonStyle:active {
    color: var(--White);
    background-color: var(--Gray150Active);
    border-radius: 2px;
  }

  .buttonStyle:hover:active {
    color: var(--White);
    background-color: var(--Gray150Active);
    border-radius: '2px';
  }

  .buttonStyle:focus-visible {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.28), 0 0 0 2px white !important;
  }